@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  margin: 0px auto;
  padding: 0px;
  background-color: #1d1d1d;
  font-size: 13px;
  color: #676767;
  font-family: "EB Garamond", serif;
}

*::-webkit-scrollbar-track {
  box-shadow: transparent;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00755d;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

header {
  width: 100%;
  height: 50px;
  background-color: #282828;
  z-index: 100;
}

header .logo img {
  height: 30px;
}

header .left {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  padding: 10px 30px;
  width: 100%;
}

header .wrap .left .search input {
  background-color: #3c3c3c;
  border: 2px solid #404040;
  width: 660px;
  font-size: 18px;
  color: #009c7c;
  font-family: "EB Garamond", serif;
}

header .wrap .left .search input::placeholder {
  padding-left: 10px;
}

header .wrap .left .fa-bars {
  color: #009c7c;
  font-size: 15px;
}

header .wrap .left .fa-bars a {
  text-decoration: none;
}

header .wrap .left .notefi {
  border-radius: 50px;
  background-color: #009c7c;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .wrap .left .fa-bell {
  color: #ffffff;
  font-size: 10px;
}

header .wrap .left .fa-bell a {
  text-decoration: none;
}

header .wrap .left .fa-user-circle {
  color: #009c7c;
  font-size: 20px;
}

header .wrap .left .fa-user-circle a {
  text-decoration: none;
}
